@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: whitesmoke;
  width: 1440px;
  height: 1800px;
}

/*********************** NAV *************************/

nav {
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 16px;
  padding: 28px 0 32px 55px;
}

nav li {
  margin: 0 32px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #5ece7b;
}

.logo-box {
  width: 32px;
  height: 28px;
  margin: 30px 0 20px -120px;
}

.logo-arrow {
  width: 14px;
  height: 9px;
  position: relative;
  bottom: 28px;
  right: 23px;
}

.logo-point {
  position: relative;
  bottom: 35px;
  right: 27px;
}

.controls {
  display: flex;
  font-size: 18px;
  padding: 34px 101px 32px 0;
}

.currency-selector .arrow {
  margin-left: 5px;
  padding-bottom: 2px;
}

.full-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding-bottom: 6px;
}

.cart {
  margin-left: 22px;
  position: relative;
  top: 16.4px;
  right: 12px;
}

.wheels img {
  margin-left: 2px;
}

/*********************** CATEGORY PAGE *************************/

.products-section {
  width: 1440px;
  height: 1435px;
  display: flex;
}

.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  margin: auto;
}

.product-card {
  width: 385px;
  height: 444px;
  margin: 50px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.product-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
  width: 356px;
  height: 338px;
  margin: -10px 15px 20px 15px;
}

.product-card p {
  width: 90%;
  text-align: left;
  font-family: "Raleway", sans-serif;
  line-height: 28.8px;
}

.card-name {
  font-size: 18px;
  font-weight: 300;
}

.card-price {
  font-size: 18px;
  font-weight: 500;
}

.add-cart-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5ece7b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  margin: 0 -260px -250px 0;
}

.add-cart {
  width: 24px;
  height: 16px;
  margin: 0 0 0 -5px;
}

.add-wheels img {
  height: 5px;
  width: 5px;
}

.add-wheels {
  display: flex;
  justify-content: space-around;
  width: 15px;
  align-items: center;
}

.out-of-stock {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  width: 173px;
  font-size: 24px;
  margin: -20px -10px 0 0;
  color: #8d8f9a;
}
